JS_Services/node_modules
request_log.txt
QGIS3_Files/2010_accidents.csv.zip
QGIS3_Files/.~lock.2010_accidents.csv#
Python_Scripts/__pycache__/Google_APIs_Tools.cpython-310.pyc
Python_Scripts/QGIS3_Scripts/output_test_data.csv
QGIS3_Files/Roadway_Block-shp.zip
QGIS3_Files/Routing_on_Washigton.qgz
QGIS3_Files/Roadway_Block-shp/Roadway_Block.cpg
QGIS3_Files/Roadway_Block-shp/Roadway_Block.dbf
QGIS3_Files/Roadway_Block-shp/Roadway_Block.prj
QGIS3_Files/Roadway_Block-shp/Roadway_Block.shp
QGIS3_Files/Roadway_Block-shp/Roadway_Block.shx
QGIS3_Files/Roadway_Block-shp/Roadway_Block.xml
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/README.html
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/README.txt
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/buildings.cpg
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/buildings.dbf
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/buildings.prj
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/buildings.shp
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/buildings.shx
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/landuse.cpg
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/landuse.dbf
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/landuse.prj
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/landuse.shp
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/landuse.shx
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/natural.cpg
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/natural.dbf
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/natural.prj
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/natural.shp
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/natural.shx
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/places.cpg
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/places.dbf
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/places.prj
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/places.shp
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/places.shx
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/points.cpg
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/points.dbf
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/points.prj
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/points.shp
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/points.shx
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/railways.cpg
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/railways.dbf
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/railways.prj
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/railways.shp
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/railways.shx
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/roads.cpg
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/roads.dbf
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/roads.prj
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/roads.shp
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/roads.shx
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/waterways.cpg
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/waterways.dbf
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/waterways.prj
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/waterways.shp
QGIS3_Files/Tripoli_Project/planet_22.3321,37.4894_22.4153,37.5327.osm.shp/planet_22.3321,37.4894_22.4153,37.5327-shp/shape/waterways.shx
Python_Scripts/ArkGIS_Scripts/APICredentials.txt
Python_Scripts/tripoli_roads_map.html
DataSets/fixedJson.zip
DataSets/Karaiskaki_from_mongo.json
DataSets/Plataion_from_mongo.json
DataSets/Εrymanthoy_from_mongo.json
DataSets/Πapparrigopoulou_from_mongo_2.json
DataSets/Πapparrigopoulou_from_mongo.json
DataSets/ΤasoySechioti_from_mongo.json
Python_Scripts/output.geojson
Python_Scripts/ARCGis/DB_Connector.ipynb
Python_Scripts/ARKGis/DB_Connector.ipynb
Python_Scripts/ARKGis/OutputData/out_out_Plataion.json
Report/DIT_BSc_thesis_template.zip
Report/DIT_BSc_thesis_template/abstracts.tex
Report/DIT_BSc_thesis_template/appendix1.tex
Report/DIT_BSc_thesis_template/appendix2.tex
Report/DIT_BSc_thesis_template/chapter1.tex
Report/DIT_BSc_thesis_template/chapter2.tex
Report/DIT_BSc_thesis_template/chapter3.tex
Report/DIT_BSc_thesis_template/dit-thesis.cls
Report/DIT_BSc_thesis_template/logo-uop.pdf
Report/DIT_BSc_thesis_template/preface.tex
Report/DIT_BSc_thesis_template/thesis.bib
Report/DIT_BSc_thesis_template/thesis.pdf
Report/DIT_BSc_thesis_template/thesis.tex
Report/DIT_BSc_thesis_template/thesistemplate.kilepr
Report/ThesisTemplate/abstracts.tex
Report/ThesisTemplate/appendix1.tex
Report/ThesisTemplate/appendix2.tex
Report/ThesisTemplate/chapter1.tex
Report/ThesisTemplate/chapter2.tex
Report/ThesisTemplate/chapter3.tex
Report/ThesisTemplate/dit-thesis.cls
Report/ThesisTemplate/logo-uop.pdf
Report/ThesisTemplate/preface.tex
Report/ThesisTemplate/thesis.bib
Report/ThesisTemplate/thesis.pdf
Report/ThesisTemplate/thesis.tex
Report/ThesisTemplate/thesistemplate.kilepr
Python_Scripts/Powerfleet_API.txt
Python_Scripts/ARKGis/OutputData/out_kalavryton.json
Python_Scripts/ARKGis/ARkGis_API/test_api.ipynb
Python_Scripts/Data_Analysis/Powerfleet_AP_CredentialsI.txt
Python_Scripts/Data_Analysis/JSON_response.json
Python_Scripts/Data_Analysis/Powerfleet_API_CredentialsI.txt
Python_Scripts/Data_Analysis/response_data_set.csv
Python_Scripts/Data_Analysis/__pycache__/Powerfleet_API_Management.cpython-39.pyc
Python_Scripts/Data_Analysis/Powerfleet_API_Credentials.txt
DataSetsLive_API_Response_data_set.json
DataSets/Live_API_Response_data_set.json
DataSets/Snapshot_API_Response_data_set.json
Python_Scripts/Data_Analysis/Snapshot_API_Response_data_set.json
Python_Scripts/Data_Analysis/PARAMETERS.json
DataSets/Live_API_DataSets.csv
DataSets/Live_API_DataSets.json
DataSets/Snapshot_API_Response_data_set.csv
DataSets/API_Responses/Vehicle_Data/Every_vehicle_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_7_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_7_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_7_response.csv
Python_Scripts/Data_Analysis/data_analysis.ipynb
Python_Scripts/Data_Analysis/segment_1.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_7_response.csv
DataSets/API_Responses/Live_API_DataSets.csv
DataSets/API_Responses/Vehicle_Data/sorted_vehicle_data.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_1_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_2_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_3_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_4_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_5_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_6_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_7_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_8_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_9_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_10_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_11_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_12_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_13_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_14_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_15_response_formatted.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_15_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_16_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_17_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_18_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_19_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_20_response.csv
DataSets/API_Responses/Vehicle_Data/all_vehicle_responses.csv
DataSets/API_Responses/Vehicle_Data/tmp_rows_to_plot.csv
DataSets/API_Responses/Vehicle_Data/tmp_trips_csv.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_1_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_7_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_8_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_9_response.csv
DataSets/API_Responses/Vehicle_Data/Vehicle_15_response.csv
DataSets/API_Responses/Vehicle_Data/vehicle_data_plot.png
Python_Scripts/Data_Analysis/output.csv
Python_Scripts/Data_Analysis/single_data_analysis.ipynb
Python_Scripts/Data_Analysis/Plots/vehicle_line_counts.png
Python_Scripts/ARKGis/GeoJson.json
DataSets/API_Responses/OSM/named_streets.csv
DataSets/GeoJSON/Αγίου_Γεωργίου.geojson
.gitignore
DataSets/API_Responses/OSM/houses_coordinates.csv
DataSets/API_Responses/OSM/named_streets_grouped.csv
DataSets/API_Responses/OSM/OSM_houses.csv
DataSets/API_Responses/OSM/OSM_roads.csv
DataSets/API_Responses/OSM/Αγίου_Γεωργίου.geojson
DataSets/GeoJSON/all_vehicles_GeoJSON.json
DataSets/GeoJSON/projected_buildings.geojson
DataSets/GeoJSON/tripoli_roads.geojson
DataSets/GeoJSON/tripoli_roads3.geojson
Python_Scripts/ARKGis/Vehicle_Data.csv
Python_Scripts/Data_Analysis/acceleration_plot.png
Python_Scripts/Data_Analysis/__pycache__/geojson_creator.cpython-39.pyc
Python_Scripts/Data_Analysis/__pycache__/Powerfleet_APIs_Management.cpython-39.pyc
Python_Scripts/Data_Analysis/Plots/all_trips_per_vehicle.png
Python_Scripts/Data_Analysis/Plots/vehicle_rows_per_id.png
Python_Scripts/Data_Analysis/Plots/velocities_on_coordinates_scatter_filtered.png
Python_Scripts/Data_Analysis/Plots/velocities_on_coordinates_scatter.png
Python_Scripts/Data_Analysis/Plots/velocity_density_kde_plot.png
Python_Scripts/Data_Analysis/all_vehicle_responses_with_projections.csv
Python_Scripts/Data_Analysis/Plots/rate_of_data_logging.png
Python_Scripts/Data_Analysis/local_map.png
Python_Scripts/Data_Analysis/visualize_dangers.csv
Python_Scripts/Data_Analysis/Plots/bearings_vs_seconds_diff.png
Python_Scripts/Data_Analysis/Plots/Scatter_bearings_vs_seconds_diff.png
Python_Scripts/Data_Analysis/Plots/.png
DataSets/API_Responses/OSM/buildings_overpassturbo.geojson
Python_Scripts/Data_Analysis/Plots/DBSCAN_Clustering_of_Geospatial_Data_with_Convex_Hulls.png
Python_Scripts/Data_Analysis/Plots/Enhanced_Scatter_with_LOESS.png
Python_Scripts/Data_Analysis/Plots/Polar Plot.png
Python_Scripts/Data_Analysis/Plots/Scatter_bearings_vs_seconds_diff_density.png
Python_Scripts/Data_Analysis/Plots/Coordinates_for_Vehicle_1_-_Trip_33_-_10_Data_Points.png
Python_Scripts/Data_Analysis/Plots/Coordinates_for_Vehicle_1_-_Trip_54_-_39_Data_Points.png
Python_Scripts/Data_Analysis/Plots/Coordinates_for_Vehicle_1_-_Trip_71_-_59_Data_Points.png
Python_Scripts/Data_Analysis/Plots/Coordinates_for_Vehicle_1_-_Trip_155_-_50_Data_Points.png
Python_Scripts/Data_Analysis/Plots/Coordinates_for_Vehicle_7_-_Trip_26_-_17_Data_Points.png
Python_Scripts/Data_Analysis/Plots/Coordinates_for_Vehicle_7_-_Trip_66_-_31_Data_Points.png
Python_Scripts/Data_Analysis/Plots/Coordinates_for_Vehicle_7_-_Trip_107_-_17_Data_Points.png
Python_Scripts/Data_Analysis/Plots/Coordinates_for_Vehicle_7_-_Trip_277_-_19_Data_Points.png
Python_Scripts/Data_Analysis/Plots/Coordinates_for_Vehicle_7_-_Trip_354_-_167_Data_Points.png
Python_Scripts/Data_Analysis/Plots/Coordinates_for_Vehicle_15_-_Trip_201_-_11_Data_Points.png
Python_Scripts/Data_Analysis/Plots/Distribution_of_Velocitieses_scatter_inside_Tripoli's _BOX.png
